<h3>Sections</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Key</th>
            <th>Ref</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let section of sections">
            <td>{{section.key}}</td>
            <td>{{section.ref}}</td>
            <td>{{section.level}}</td>
        </tr>
    </tbody>
</table>

<h3>Classes</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Key</th>
            <th>Section</th>
            <th>Capacity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let classe of classes">
            <td>{{classe.key}}</td>
            <td>{{classe.section}}</td>
            <td>{{classe.capacity}}</td>
        </tr>
    </tbody>
</table>